@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between
}

.src-only {
    display: none;
}

.hide-mobile {
    display: none;
/*cambianco el tamaño y color a flechita verde bajo logo twitter*/
    margin-bottom: 3.8em;
    color: #0ac693;
}
.fas{
    /*personalizando caractteristicas de la clase fas*/
    font-size: 3.8em;
    margin:1px
}
.fas.fa-bars{
font-size: 1em
}
.fab{
    margin:5px
}
/*cambiandole el color a contacto, elemento situado en nav*/
ul#menu li:last-child a{
    color:red
}
/*aplicando efecto visual de hover en todos los elementos de menu de nav*/
ul#menu :hover{
    color:red
}
p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo {
    width: 90px;
    margin: 1em;
}

.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img {
    width: 150px;
}

.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p {
    /*cambiando tamanio de fuente */
    font-size: 0.9em;
    color: #D7DEE6;

}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    /*separando logos de green area y ajustando posicion*/
    margin: 0 0 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: center

}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 4em;
}


.green-area {
    background-color: #0AC693; 
}


.post {
    padding: 1em;
    margin-bottom: -2px;
}
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {
    list-style: none;
}

.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}

.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    font-size: 0.75em;
    /*cambiando paddin de 1em por margin de 0.5 em para una mejor acomodacion de los articulos*/
    margin: 0.5em;
    line-height: 25px;
}

/* About */

.about{
    margin-top: 2em;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

.bio-info img{
   width: 200px;
}

.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}

.contact * + * {
    margin-top: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    /*separanado input del footer*/
    margin: 1em 0
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

footer .social-links {
    margin: 0;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }


    .logo {
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }

    /*TODO: FALTA CSS */
    /*separando isotipo del nav y dejando un espacio de por medio*/
    .header{
        width: 100%;
        justify-content: space-between
    }
    /*separando un poco los logos para un mayor orden*/
   .social-links{
    margin:auto;
    width: 12%;
    justify-content: space-around
}
    
   /*alineando contenido del container abajo de la imagen*/
   .big-hero>.container{
       display: flex;
       flex-flow: column wrap
       
   }
   /*centrando la imagen del big-hero*/
   .big-hero>.container> img {
       display:block;        
       margin:auto

   }
   /*reduciendo el matden del texto bajo de nombre NESTOR ALDANA*/
   .big-hero p{
       margin:0em;
       padding: 0;
   }
   /*centrando el texto publicaciones dentrso de green area*/
   .green-area h2{
       width: 100%
   }
   .post ul li {
    display: flex;
    min-height: 300px;
    max-width: 350px;
    margin: 2rem 30px 2rem 0;
    margin-left: 26px;
    justify-content: center;
    flex-flow: column nowrap
}
   
    /*centrando el h2 para no mezclarlo con los div*/
    .about h2{
        width: 100%;  
        text-align: center;

    }
    /*separando los divs, poniendo uno a la par de otro*/
    .about div{
        flex:1;
        width: 100%;
    }
    /*cambiando tamanio de parrafo bajo imagen dentro del div bio info*/
    .bio-info p{
        height: 60%;
        margin: -1em 1.2em ;
        font-size: 1em
    }
    /*acomodando mejor la imagen del div */
    .bio-info img{
        width: 30%;
        height: 30%;
    }
    /*cambianado tamanio del div contact*/
    .contact{
        width: 80%;
        margin: 1em 1.2em ;
    }
    /*cambiando el tamaño del input */
    .contact-form input[type=submit]{
        width: 50%;
        margin-bottom: 1em;
    }
   
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        max-width: 768px;
    }
     /*separando logos de twitter */
     footer .social-links{
         padding: 0;
        margin :auto;
        width: 10%;
        justify-content: space-around
    }
} 

@media only screen and (min-width: 1024px) {

      
       /*TODO: FALTA CSS */
        /*estableciendo distancia de elementos del header*/
     
   .header{
       width: 100%;
       justify-content: space-between
   }
   .header {
       margin:0 18px 
   }
   /*haciendo flexible el contenedor para failitar el acomodamiento de los elementos*/
   .big-hero>.container{
       margin: none;
       display: flex;
       flex-flow: column wrap
       
   }
   /*posicionando adecuadamente la imagen*/
   .big-hero>.container> img {
       display:block;        
       margin:auto
   }
   /*ajustando los articulos y centrandolos*/
   .post ul li {
    min-height: 260px;
    max-width: 310px;
    margin: 2rem 10px 2rem 0;
    margin-left: 13px;
    justify-content: center;
    flex-wrap: nowrap
}
   /*haciendo flexible  el about para poder mover los div*/
   .about{
       display: flex;
       margin-top: 2em;
       justify-content: center; 
   }
   /*centrando el h2 para no mezclarlo con los div*/
   .about h2{
       width: 100%;  
       text-align: center;

   }
   /*separando los divs, poniendo uno a la par de otro*/
   .about div{
       flex:1;
       margin: 1em;
   }
   /*cambiando el tamaño del input */
   .contact-form input[type=submit]{
       width: 50%;
       margin-bottom: 1em;
   }
  
   .container {
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       margin: 0 auto;
       max-width: 1024px;
   }
    /*separando logos de twitter */
    footer .social-links>{
       margin: 0;
       justify-content: center
   }

}

@media only screen and (min-width: 1440px) {

     /*estableciendo distancia de elementos del header*/
     .header {
        margin: 0;
       justify-content: space-between
   }
  /*ajustando elemtos de los articulos*/
.post ul li {
    min-height: 320px;
    max-width: 370px;
    margin: 2rem 2em;
    margin-left: 3.5em;
    justify-content: center;
    flex-wrap: nowrap
}
/*estableciendo limites de la resolucion*/
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}
  
  
}